language: node_js

node_js: 14

branches:
  only:
    - master
    - /^v?\d+(\.\d+){1,2}.*/

before_deploy:
  - npm run build:examples

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  keep_history: true
  on:
    branch: master
    tags: true
